.countdown-to {
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 100%;
  box-sizing: border-box;
}

.countdown-to .title{
  align-self: center;
  padding: 0;
  font-size: 8vmin;
}
