.product-counter {
  display: flex;
  font-size: 1.6em;
  margin-bottom: 0.25em;
}

.product-counter .label{
  width: 9em;
}

.product-counter .counter{
  flex: 0 0 3em;
  text-align: center;
  font-weight: bold;
}

.product-counter .button{
  width: 2em;
  background-color: rgb(51, 153, 255);
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.product-counter .button svg{
  top: 6%;
  position: relative;
}
