.reset-button{
  display: flex;
  font-size: 2em;
  align-self: center;
  margin: 1em;
}

.reset-button .button{
  width: 2em;
  background-color: rgb(51, 153, 255);
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.reset-button .button svg{
  top: 6%;
  position: relative;
}
